[alias]
  co    = checkout
  st    = status
  cm    = commit
  br    = branch
  logg  = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
  loggr = log --graph --date-order --pretty=format:'%Cblue%h %Cgreen%ci %Cred%an %Cblue%m %Creset%s %Cred%d'

[user]
  email = suzukai74@gmail.com
  name  = Ryosuke Watanabe
[color]
  ui = auto
[pull]
  rebase = true
  ff = only
[merge]
  ff = false
[push]
  default = simple
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
